<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ site_title }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('style.css', 'css') }}">
    {% endblock %}{#end of stylesheets#}
    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    {% endblock %}{#end of javascripts#}
</head>
<body>
{% block body %}

    {% block navbar %}
        {% include "admin/navbar.html.twig" %}
    {% endblock %}{#end of navbar#}

    <div class="container">

        <div class="row">

            <div class="col-lg-3"><!-- left menu-->
                {% block leftMenu %}
                    {% include 'admin/leftMenu.html.twig' %}
                {% endblock %}
            </div><!-- /left menu-->

            <div class="col-lg-9"><!-- content-->
                {% if (title is not defined or title is empty) %}
                    {% set title = "..." %}
                {% endif %}
                <div class="mt-4 text-right">
                    <h4>{{ title }}</h4>
                </div>
                {% block content %}{% endblock %}
            </div><!-- /content-->
        </div>
    </div>

    {% block footer %}
        {% include "footer.html.twig" %}
    {% endblock %}{#end of footer#}

{% endblock %}{#end of body#}
</body>
</html>