<h4 class="my-4">Központi adminisztrációs oldal</h4>

<div class="list-group my-4">
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app.admin.page.admin') }}" class="list-group-item">Adminisztrátorok</a>
    {% endif %}

    {% if is_granted('ROLE_EDITOR') %}
        <a href="{{ path('app.admin.page.editor') }}" class="list-group-item">Tartalomszerkesztő</a>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app.admin.page.user') }}" class="list-group-item">Bejelentkezett felhasználó</a>
    {% endif %}
</div>