{% extends 'admin/layout.html.twig' %}

{% block content %}
    <h2>Felhasználói adatok</h2>
    <ul>
        <li>Felhasználónév: <strong>{{ app.user.name }}</strong></li>
        <li>Utolsó belépés időpontja: <strong>{{ app.user.lastlogin|date("Y-m-d H:i:s") }}</strong></li>
        <li>Jogosultsági körök:
            <ul>
                {% for role in app.session.get('roleNames') %}
                    <li><strong>{{ role }}</strong></li>
                {% endfor %}
            </ul>
        </li>
    </ul>

{% endblock %}