<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_admin') }}">Admin főoldal</a>
                </li>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item nav-last-text-item">
                        <a class="nav-link nav-last-text" href="{{ path('app_logout') }}">Kilépés</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>