{% extends 'base.html.twig' %}

{% block content %}
    <h1>Jogosultsági probléma</h1>
    <p>Ehhez az oldalhoz önnek nincs jogosultsága.</p>
    <p>Amennyiben úgy gondoja, hogy Ön rendelkezik a megfelelő jogosultsággal, kérjük, vegye fel velün a kapcsolatot az
        <a href="mailto: info@example.com">info@example.com</a> email címen</p>
{% endblock %}