{% extends 'base.html.twig' %}

{% block content %}
    <h1>Az oldal nem található</h1>
    <p>Ezt az oldal nem létezik.</p>
    <p>Ezt az oldalt eltávolíthattuk, vagy egy hibás link miatt kerülhetett ide. Ha nagyon fontos Önnek, vegye vel
        velünk a kapcsolatot a <a href="mailto: info@example.com">info@example.com</a></p> email címen.
{% endblock %}