{% extends 'admin/layout.html.twig' %}

{% block content %}
    <h1>Adminisztrátok oldala</h1>
    <p>Ezez az adminisztrátorok oldala.</p>
    <p>Ehhez az oldalhoz csak <i>Adminisztrátor</i> jogosultsággal lehet hozzáférni.</p>
{% endblock %}