{% extends 'admin/layout.html.twig' %}

{% block content %}
    <h1>Tartalomszerkesztők oldala</h1>
    <p>Ez a szerkesztők oldala.</p>
    <p>Ehhez az oldalhoz csak <i>Tartalomszerkesztő</i> jogosultsággal lehet hozzáférni.</p>
{% endblock %}