{% extends 'admin/layout.html.twig' %}

{% block content %}
    <h1>Bejelentkezett felhasználók oldala</h1>
    <p>Ez a Bejelentkezett felhasználók oldala.</p>
    <p>Ehhez az oldalhoz csak <i>Bejelentkezett felhasználó</i> jogosultsággal lehet hozzáférni.</p>
{% endblock %}