html, body {
    height: 100%;
}

body {
    padding-top: 56px;
    display: flex;
    flex-flow: column;
}

#mainContent {
    padding-top: 20px;
}

#mainContent h1 {
    margin-bottom: 20px;
}

footer {
    margin-top: auto;
}

footer.pb-5, footer.py-5 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#mainPageCarosuel {
    padding-bottom: 20px;
}


.alert p:last-child {
    margin-bottom: 0;
}

.form-signup #progress {
    margin-top: 10px;
}

nav.navbar {
    -webkit-box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.75);
}

nav.navbar .inset {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6),
    0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: transparent !important;
    z-index: 999;
}

nav.navbar .inset img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 998;
    background: #9e9e9e;
}

nav.navbar .nav-last-text-item {
    margin-right: 20px;
}