{% block footer %}
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; {{ site_title }} 2019</p>
        </div>
    </footer>
{% endblock %}{#end of footer#}