{% extends 'base.html.twig' %}

{% block content %}
    <link rel="stylesheet" href="{{ asset('login.css', 'css') }}">
    <div id="logreg-forms">
        <form class="form-signin" method="post">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Bejelntkezés</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <input value="{{ lastUsername }}" type="text" name="name" id="inputName" class="form-control"
                   placeholder="Név" autofocus>
            <input type="password" name="password" id="inputPassword"
                   class="form-control" placeholder="Jelszó">
            <button name="loginBtn" class="btn btn-primary btn-block" type="submit"><i class="fas fa-sign-in-alt"></i>
                Belépés
            </button>
            {% if showCaptcha %}
                <div class="g-recaptcha login-captcha" data-sitekey="{{ recaptcha_site_key }}"></div>
            {% endif %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js?hl=hu" async defer></script>
{% endblock javascripts %}